extends ../../layouts/default 

include ../../mixins/box-head.pug
include ../../mixins/project-layout.pug

block main
  .project-detail
    .container.my-5
      .row 
        //- .col-6 
        .col-12 
          if (project.title)
            h1(class="inner-title") #{project.title}

          if (project.category)
            div(class="inner-category")
              span Danh mục: 
                a(href=`projects/${project.category.slug}`) #{project.category.title}

          if (project.budget)
            div(class="inner-budget") Ngân sách: <b>#{project.budget.min} - #{project.budget.max} VNĐ</b>

          if (project.deadline)
            - const d = new Date(project.deadline);
            - const formattedDate = `${d.getDate().toString().padStart(2, '0')}/${(d.getMonth()+1).toString().padStart(2, '0')}/${d.getFullYear()}`;
            div(class="inner-deadline") Hạn chào giá: <b>#{formattedDate}</b>

          form(
            action=`/cart/add/${project.id}`
            method="POST"
          )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Đề xuất công việc

    .container.my-5
      .row
        .col-12
          +box-head("Mô tả công việc")
          .inner-desc !{project.description}


    
    .container.my-3
      .row
        .col-12
          +box-head("Công việc mới")

      +project-grid(projectsNew)