extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Danh sách công việc")

    //- project-card.pug
    .row
      each item in projects 
        .col-12.mb-3
          .project-card
            .project-center
              h3.project-title 
                a(href=`/projects/${item.slug}`) #{item.title} 
              p.project-description #{item.description}
              .project-tags
                span.project-pill #{item.budget.min} - #{item.budget.max} VNĐ
                span.project-pill #{item.deadline ? `${new Date(item.deadline).getDate().toString().padStart(2,'0')}/${(new Date(item.deadline).getMonth()+1).toString().padStart(2,'0')}/${new Date(item.deadline).getFullYear()}` : ''}
            .project-right
              button.project-fav Đề xuất



    
