header.header
  .container
    .row.align-items-center 
      .col-3 
        .inner-logo 
          a(href="/")
            img(src="/client/images/image.png", alt="logo")

      .col-9 
        .inner-menu 
          ul 
            li 
              a(href="/") Trang chủ
            li 
              a(href="/projects") Công việc
            li 
              a(href="/cart") Công việc đề xuất (#{miniCart ? miniCart.totalProject : 0})
            li 
              a(href="#") Sign in
            li 
              a(href="#") Đăng ký

.section-search
  .container
    form(
      action="/search" 
      method="GET" 
      class="search-form"
    )
      .form-group
        input(
          type="text"
          placeholder="Nhập từ khóa..."
          class="form-control search-input"
          name="keyword"
          value=keyword
        )
        button(type="submit" class="btn btn-primary search-btn") Tìm




