extends ../../layouts/default.pug

include ../../mixins/search.pug
include  ../../mixins/pagination.pug
include  ../../mixins/alert.pug
include  ../../mixins/sort.pug

block main
  if(role.permissions.includes("roles_view"))
    +alert-success(3000)

    h1(class="mb-4") Nhóm quyền

    .card.mb-3
    .card-header Tìm kiếm
      .card-body
        .row 
          .col-5
            +sort-role()
          .col-5
            +search(keyword)

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
            if(role.permissions.includes("roles_create"))
              a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-primary"
              ) + Thêm mới

        table(class="table table-hover table-sm")
          thead
            tr
              th STT
              th Nhóm quyền
              th Mô tả ngắn
              th Hành động
          tbody
            if (records.length > 0)
              each item, index in records
                tr
                  td #{index + 1}
                  td #{item.title}
                  td #{item.description}
                  td
                    a(
                      class="btn btn-primary btn-sm"
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    ) <i class="fas fa-info"></i>
                    if(role.permissions.includes("roles_edit"))
                      a(
                        class="btn btn-info btn-sm ml-1"
                        href=`${prefixAdmin}/roles/edit/${item.id}`
                      ) <i class="fas fa-edit"></i>
                    if(role.permissions.includes("roles_delete"))
                      button(
                        class="btn btn-secondary btn-sm ml-1"
                        button-delete
                        data-id=item.id
                      ) <i class="fas fa-times"></i>
            else
              tr
                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.

    +pagination(pagination)

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/roles/delete`
    )

    script(src="/admin/js/role.js") 