extends ../../layouts/default.pug

include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include  ../../mixins/pagination.pug
include  ../../mixins/formChangeMulti.pug
include  ../../mixins/alert.pug
include  ../../mixins/sort.pug
include  ../../mixins/moment.pug

block main
  if(role.permissions.includes("project_view"))
    +alert-success(3000)
    

    h1 Danh sách công việc

    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row 
          .col-6 
            +filter-status(filterStatus)
          .col-6
            +search(keyword)

    .card.mb-3
      .card-header Sắp xếp
      .card-body
        .row
          .col-6
            +sort()

    .card.mb-3
      .card-header Hành động
      .card-body
        .row  
          .col-8 
            if(role.permissions.includes("project_edit"))
              +form-change-multi(`${prefixAdmin}/projects/change-multi?_method=PATCH`)
          .col-4.text-right
            if(role.permissions.includes("project_create"))
              a(
                href=`${prefixAdmin}/projects/create`
                class="btn btn-outline-primary"
              ) + Thêm mới

    .card.mb-3
      .card-header Danh sách
      .card-body
        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th 
                input(type="checkbox" name="checkall")
              th STT
              th Tiêu đề
              th Ngân sách
              th Vị trí
              th Trạng thái
              th Người tạo
              th Người cập nhật
              th Hành động
          tbody
            each item, index in projects
              tr
                td 
                  input(
                    type="checkbox" 
                    name="id"
                    value=item.id
                  )
                td #{pagination.limitItems * (pagination.currentPage - 1) + (index + 1)}
                td #{item.title}
                td #{item.budget.min} - #{item.budget.max} Triệu
                td 
                  input(
                    type="number"
                    value=item.position 
                    style="width: 60px"
                    min="1"
                    name="position"
                  )
                td
                  if(item.status == "OPEN")
                    span(class="badge badge-primary") Đang mở
                  if(item.status == "IN_PROGRESS")
                    span(class="badge badge-warning ") Đang thực hiện
                  if(item.status == "CLOSED")
                    span(class="badge badge-success") Hoàn thành
                  if(item.status == "CANCELLED")
                    span(class="badge badge-danger") Hủy

                td 
                  p #{item.accountFullName}
                  p
                    +formatDate(item.createdBy.createdAt)

                td 
                  - const updatedBy = item.updatedBy.slice(-1)[0];
                  if(updatedBy)
                    p #{updatedBy.accountFullName}
                    p
                      +formatDateTime(updatedBy.updatedAt)
                td
                  a(
                    href=`${prefixAdmin}/projects/detail/${item.id}`
                    class="btn btn-primary btn-sm"
                  ) <i class="fas fa-info"></i>
                  if(role.permissions.includes("project_edit"))
                    a(
                      href=`${prefixAdmin}/projects/edit/${item.id}`
                      class="btn btn-info btn-sm"
                    ) <i class="fas fa-edit"></i>
                  if(role.permissions.includes("project_delete"))
                    button(
                      class="btn btn-secondary btn-sm ml-1"
                      button-delete
                      data-id=item.id
                    ) <i class="fas fa-times"></i>

    +pagination(pagination)

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/projects/delete`
    )

    script(src="/admin/js/project.js") 