mixin project-item(item)
  .col-12.mb-3
    .project-card
      .project-center
        h3.project-title
          a(href=`/projects/detail/${item.slug}`)= item.title
          if (item.featured == "1")
            .inner-featured Nổi bật

        .project-description !{item.description}

        .project-tags
          span.project-pill #{item.budget.min} - #{item.budget.max} VNĐ
          span.project-pill #{item.deadline ? `${new Date(item.deadline).getDate().toString().padStart(2,'0')}/${(new Date(item.deadline).getMonth()+1).toString().padStart(2,'0')}/${new Date(item.deadline).getFullYear()}` : ''}

      .project-right
        a.project-fav(href=`/projects/detail/${item.slug}`) Chi tiết