mixin sub-menu(items, path)
  ul.submenu
    each item in items
      li
        a(href=`${path}/${item.slug}`) #{item.title}
        if item.children && item.children.length > 0
          +sub-menu(item.children, path)



mixin sub-menu-1(items, path, level = 0)
  if level === 0
    ul.submenu.category-list
      each item in items
        - const hasChildren = item.children && item.children.length > 0
        li(class=hasChildren ? 'has-children' : '')
          a(href=`${path}/${item.slug}`) #{item.title}
          if hasChildren
            +sub-menu-1(item.children, path, level + 1)
  else
    ul.submenu
      each item in items
        - const hasChildren = item.children && item.children.length > 0
        li(class=hasChildren ? 'has-children' : '')
          a(href=`${path}/${item.slug}`) #{item.title}
          if hasChildren
            +sub-menu-1(item.children, path, level + 1)

