header.header
  .container-fluid
    .row.align-items-center

      .col-3.d-flex.align-items-center
        button.sidebar-toggle(
          type="button"
          data-toggle="sidebar"
          aria-label="Toggle sidebar"
        )
          i.fas.fa-bars

        .inner-logo.ml-3
          a(href=`${prefixAdmin}/dashboard`) ADMIN

      .col-9.text-right
        .dropdown
          button#userMenuButton.btn.btn-sm.dropdown-toggle(
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
          )
            img(
              src=user.avatar 
              class="rounded-circle"
              style="width:33px; height:33px; object-fit:cover;"
            )

          .dropdown-menu.dropdown-menu-right(aria-labelledby="userMenuButton")
            a.dropdown-item(href=`${prefixAdmin}/my-account`) Hồ sơ cá nhân
            .dropdown-divider
            a.dropdown-item.text-danger(href=`${prefixAdmin}/auth/logout`) Đăng xuất
