.sider 
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Tổng quan
      if(role.permissions.includes("project_view"))
        li 
          a(href=`${prefixAdmin}/projects`) Công việc
      if(role.permissions.includes("project-category_view"))
        li 
          a(href=`${prefixAdmin}/projects-category`) Danh mục 
      if(role.permissions.includes("roles_view"))
        li 
          a(href=`${prefixAdmin}/roles`) Nhóm quyền
      if(role.permissions.includes("roles_permissions"))     
        li 
          a(href=`${prefixAdmin}/roles/permissions`) Phân quyền 
      if(role.permissions.includes("accounts_view"))
        li 
          a(href=`${prefixAdmin}/accounts`) Tài khoản
      li 
        a(href=`${prefixAdmin}/users`) Người dùng
      if(role.permissions.includes("setting-general"))
        li 
          a(href=`${prefixAdmin}/settings/general`) Cài đặt chung

